.Schedule {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

.Schedule-Wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.Day {
    flex: 0 1 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 2em 0;
}

@media only screen and (max-width: 720px) {
  .Schedule-Wrapper {
    flex-direction: column;
    margin: 0 3em 0;
  }

  .Day {
    width: 100%;
    margin: 0;
  }
}

.Schedule table {
    width: 100%;
}

.Schedule table tr:nth-child(even) th {
    color: #ccc;
    font-weight: normal;
}
.Schedule table th, .Schedule table td {
    padding: 0.5rem 1rem;
}
.Schedule table th {
    font-weight: normal;
    border-top: thin dotted #ccc;
}
.Schedule table td {
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.4;
    border-radius: 0.2rem;
    transition: opacity 0.3s ease;
}
.Schedule table td > span {
    font-size: 0.8em;
    font-weight: normal;
    display: block;
    width: 100%;
}

.is-hacking {
 background-color: var(--colorRadicalRed);
 color: white;
}

.is-official-program {
 background-color: var(--colorSpaceCadet);
color: white;
}

.Schedule-Title {
    font-size: var(--fontSize48);
    font-weight: var(--fontWeightPoppinsBold);
    font-stretch: normal;
    font-style: italic;
    line-height: var(--lineHeight);
    letter-spacing: normal;
    text-align: center;
    color: var(--colorSpaceCadet);
}