.IdeaInfoOverlay .IdeaInfoOverlay-Title {
    text-align: center;
    font-size: 2.2em;
    padding-top: 1em;
}
.IdeaInfoOverlay .IdeaInfoOverlay-Team .IdeaInfoOverlay-Team-Title {
    text-align: center;
    font-size: 1.5em;
    padding-top: 1em;
}

.IdeaInfoOverlay .IdeaInfoOverlay-Description {
    margin: 2em 0;
}
