.JoinIdeaOverlay .JoinIdeaOverlay-Title {
    font-size: var(--fontSize56);
    font-weight: var(--fontWeightPoppinsBold);
    font-style: italic;
    line-height: var(--lineHeight);
    text-align: center;
    color: var(--colorSpaceCadet);
}