@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap');
:root {
  --fontFamilyPoppins: 'Poppins', sans-serif;
  --fontWeightPoppinsBold: 700;

  --maxWidth: 1170px;

  --colorSpaceCadet: #31295c;
  --colorRadicalRed: #ff406a;
  --colorMesiumTorquoise: #50d3cd;
  --colorSaffron: #f2c433;
  --colorPortiandOrange: #f25cc33;
  --colorPapayesWhip: #fff3db;
  --colorAndroidGreen: #aecc32;

  --lineHeight: 1.63;

  --fontSize4: .125em;
  --fontSize8: .25em;
  --fontSize12: .75em;
  --fontSize14: .875em;
  --fontSize16: 1em;
  --fontSize18: 1.125em;
  --fontSize20: 1.25em;
  --fontSize24: 1.5em;
  --fontSize26: 1.62em;
  --fontSize30: 1.875em;
  --fontSize36: 2.25em;
  --fontSize48: 3em;
}

.App {
  font-family: var( --fontFamilyPoppins);
  font-style: normal;
  font-weight: 300;
  color: var(--colorSpaceCadet);
  font-size: 1em;
  line-height: var(--lineHeight);
  letter-spacing: 0.125em;
  position: relative;
}

.App .App-Main-Section-Container {
  margin: 0 auto;
  max-width: var(--maxWidth);
  height: 100%;
  position: relative;
  padding: 0 2em;
}

.App .App-Main-Section {
  height: 100vh;
  background-image: url(/assets/bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-height: 960px or min-width: 2280px){
  .App .App-Main-Section {
    background-image: url(/assets/bg@2x.png);
  }
}

@media (min-height: 2880px or min-width: 4800px) {
  .App .App-Main-Section {
    background-image: url(/assets/bg@3x.png);
  }
}

.App .App-Main-Section-Left {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 50%;
}

.App .App-Main-Section-Logo {
  position: absolute;
  top: 42%;
  left: 0;
  transform: translateY(-50%);
  padding: 0 2em;
  width: 436px;
  height: 500px;
  background-repeat: no-repeat;
  background-image: url(/assets/logo.png);
}

@media (min-height: 960px or min-width: 2280px){
  .App .App-Main-Section-Logo {
    background-image: url(/assets/logo@2x.png);
  }
}

@media (min-height: 2880px or min-width: 4800px) {
  .App .App-Main-Section-Logo {
    background-image: url(/assets/logo@3x.png);
  }
}

.App .App-Main-Section-Left svg {
  width: 2em;
  height: 2em;
}

.App .App-Main-Section-Left-Container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 190%);
}

.App .App-Main-Section-Left .Button {
  margin-left: -99px;
}

.App .App-Main-Section-Left p {
  margin: 0.5em;
  font-size: 1.5em;
}

.App .App-Main-Section-Left .App-Main-Section-Date,
.App .App-Main-Section-Left .App-Main-Section-Location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.App .Hack-guy {
  background-repeat: no-repeat;
  background-image: url(/assets/hack-guy.png);
  position: absolute;
  display: inline-block;
  height: 111vh;
  width: 871px;
  top: 0;
  right: 0;
  background-position: top right;
  background-size: contain;
}

@media (min-height: 960px or min-width: 2280px){
  .App .Hack-guy {
    background-image: url(/assets/hack-guy@2x.png);
  }
}

@media (min-height: 2880px or min-width: 4800px) {
  .App .Hack-guy {
    background-image: url(/assets/hack-guy@3x.png);
  }
}

input, select, textarea {
  display: block;
  height: 3em;
  border-bottom: 1px solid var(--colorMesiumTorquoise);
  margin-bottom: 1em;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  color: var(--colorSpaceCadet);
  font-size: var(--fontSize16);
}

textarea {
  height: 11em;

}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--colorMesiumTorquoise);
}

form button {
  width: fit-content;
  padding: 1em;
  border: 1px solid var(--colorMesiumTorquoise);
  border-radius: 0.25em;
  background-color: transparent;
  color: var(--colorSpaceCadet);
  cursor: pointer;
  transition: all ease-in 100ms;
  margin-top: 1em;
  float: right;
  font-size: var(--fontSize20);
  font-weight: var(--fontWeightPoppinsBold);
}

label {
  font-size: var(--fontSize20);
  display: block;
  transition: all ease-in 300ms;
  position: absolute;
  bottom: 6px;
  z-index: -10;
}

label.focus {
  bottom: 2.5em;
}

label.align-top {
  top: 3em;
}

label.focus.align-top {
  top: -2.3em;
  bottom: unset;
}

form div {
  position: relative;
  margin-top: 3em;
}

h1 {
  margin: 0
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.App .Success-Message {
  color: var(--colorSpaceCadet);
  font-size: var(--fontSize48);
  margin-top: 1em;
  text-align: center;
}

.App .Error-Message {
  color: var(--colorRadicalRed);
  text-align: center;
}

