@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap');
:root {
  --fontFamilyPoppins: 'Poppins', sans-serif;
  --fontWeightPoppinsBold: 700;

  --maxWidth: 1170px;

  --colorSpaceCadet: #31295c;
  --colorRadicalRed: #ff406a;
  --colorMesiumTorquoise: #50d3cd;
  --colorSaffron: #f2c433;
  --colorPortiandOrange: #f25c33;
  --colorPapayesWhip: #fff3db;
  --colorAndroidGreen: #aecc32;

  --lineHeight: 1.63;

  --fontSize4: .125em;
  --fontSize8: .25em;
  --fontSize12: .75em;
  --fontSize14: .875em;
  --fontSize16: 1em;
  --fontSize18: 1.125em;
  --fontSize20: 1.25em;
  --fontSize24: 1.5em;
  --fontSize26: 1.62em;
  --fontSize30: 1.875em;
  --fontSize36: 2.25em;
  --fontSize48: 3em;
  --fontSize56: 3.5em
}

.App {
  font-family: var( --fontFamilyPoppins);
  font-style: normal;
  font-weight: 300;
  color: var(--colorSpaceCadet);
  font-size: 1em;
  line-height: var(--lineHeight);
  position: relative;
  overflow-x: hidden;
}

.App .App-Main-Section-Container {
  margin: 0 auto;
  max-width: var(--maxWidth);
  height: 100%;
  position: relative;
  padding: 0 2em;
  overflow-x: hidden;
}

.App .App-Main-Section {
  position: relative;
  height: 100vh;
}

.App .App-Background.animate {
  opacity: 0;
  transform: scale(2);
  z-index: -1;
}

.App .App-Background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transform: scale(1);
  background-image: url(/assets/bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1300ms ease-in-out;
}

@media (min-height: 960px or min-width: 2280px){
  .App .App-Background {
    background-image: url(/assets/bg@2x.png);
  }
}

@media (min-height: 2880px or min-width: 4800px) {
  .App .App-Background {
    background-image: url(/assets/bg@3x.png);
  }
}

.App .App-Left {
  position: relative;
  height: 100%;
  z-index: 5;
}

[data-aos="show-scale"] {
  transform: translate(-100%, 0) scale(0);
  opacity: 0;
  transition-property: transform, opacity;
}
[data-aos="show-scale"].aos-animate {
   transform: translate(0, 0) scale(1);
   opacity: 1;
}

.App .App-Main-Section-Logo {
  opacity: 1;
  position: absolute;
  top: 55%;
  left: 30%;
  transform: translate(-50%,-50%);
  padding: 0 2em;
  width: 468px;
  height: 500px;
  background-repeat: no-repeat;
  background-image: url(/assets/logo.png);
  background-size: cover;
  z-index: 5;
}

.App .Logo-Container {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (min-height: 960px or min-width: 2280px){
  .App .App-Main-Section-Logo {
    background-image: url(/assets/logo@2x.png);
  }
}

@media (min-height: 2880px or min-width: 4800px) {
  .App .App-Main-Section-Logo {
    background-image: url(/assets/logo@3x.png);
  }
}

.App .Hack-guy.animate {
  opacity: 0;
  transform: scale(2);
}

.App .Hack-guy {
  opacity: 1;
  background-repeat: no-repeat;
  background-image: url(/assets/hack-guy.png);
  position: absolute;
  display: inline-block;
  height: 111vh;
  width: 871px;
  top: 0;
  right: 0;
  background-position: top right;
  background-size: contain;
  transition: all 1300ms ease-in-out;
  z-index: 4;
  transform: scale(1);
}

@media (min-height: 960px or min-width: 2280px){
  .App .Hack-guy {
    background-image: url(/assets/hack-guy@2x.png);
  }
}

@media (min-height: 2880px or min-width: 4800px) {
  .App .Hack-guy {
    background-image: url(/assets/hack-guy@3x.png);
  }
}

input, select, textarea {
  display: block;
  height: 3em;
  border-bottom: 1px solid var(--colorMesiumTorquoise);
  margin-bottom: 1em;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  color: var(--colorSpaceCadet);
  font-size: var(--fontSize16);
  font-family: var(--fontFamilyPoppins);
}

select {
  position: relative;
  display: block;
}

option {
  width: 100%;
}

textarea {
  height: 11em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-bottom: 1px solid var(--colorMesiumTorquoise);
}

form button {
  width: fit-content;
  padding: 1em;
  border: 1px solid var(--colorMesiumTorquoise);
  border-radius: 0.25em;
  background-color: transparent;
  color: var(--colorSpaceCadet);
  cursor: pointer;
  transition: all ease-in 100ms;
  margin-top: 1em;
  float: right;
  font-size: var(--fontSize20);
  font-weight: var(--fontWeightPoppinsBold);
}

label {
  font-size: var(--fontSize20);
  display: block;
  transition: all ease-in 300ms;
  position: absolute;
  bottom: 6px;
  z-index: -10;
}

label.focus {
  bottom: 2.5em;
}

label.align-top {
  top: 3em;
}

label.focus.align-top {
  top: -2.3em;
  bottom: unset;
}

form div {
  position: relative;
  margin-top: 3em;
}

h1 {
  margin: 0
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.App .Error-Message {
  color: var(--colorRadicalRed);
  text-align: center;
}

select {
  font-size: var(--fontSize20);
  color: var(--colorSpaceCadet);
}

@media screen and (max-width: 1080px) {

  .App .Hack-guy {
    width: 500px;
  }

  .App .App-Main-Section-Logo {
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .App .Hack-guy.animate {
    right: 0;
  }

  .App .Hack-guy {
    animation: none;
  }
}

@media screen and (max-width: 894px) {
  .App .App-Main-Section-Logo {
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .App .App-Main-Section {
    margin-top: 56px;
  }
}

.App .Logo-Container .Button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-62%, 200%);
}

@media screen and (max-width: 543px) {
  .App .Hack-guy {
    width: 321px;
    top: 56px;
  }

  .App .App-Main-Section-Logo {
    top: 55%;
    width: 300px;
    height: 300px;
  }

  .App .Logo-Container .Button.Button--isActionFilled {
    top: 40%;
    left: 54%;
  }
}