.Team.Team--short {
    border-top: 1px solid var(--liberty-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: 1em;
}

.Team.Team--short .Team-Member {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: inline-block;
    margin-right: -0.5em;
    text-align: center;
    cursor: pointer;
    border: solid 1px #ffffff;
    background-color: var(--colorMesiumTorquoise);
}

.Team.Team--short .Team-Members {
    display: flex;
    flex-direction: row-reverse;
}

.Team.Team--short .Team-Member .Team-Member-Initials {
    line-height: 2em;
    vertical-align: center;
    font-size: var(--fontSize16);
    font-weight: var(--fontWeightPoppinsBold);
}

.Team.Team--short .Team-Join {
    margin-left: 2em;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease-in 100ms;
}

.Team.Team--short .Team-Join:hover {
    text-decoration: underline;
}

.Team.Team--full .Team-Members {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.Team.Team--full .Team-Member {
    display: flex;
    min-width: 10em;
    width: 50%;
    flex-wrap: wrap;
    padding: 1em 0;
}

.Team.Team--full .Team-Member .Team-Member-Initials {
    vertical-align: center;
    font-size: var(--fontSize20);
    font-weight: var(--fontWeightPoppinsBold);
    border-radius: 50%;
    background-color: var(--colorMesiumTorquoise);
    color: white;
    border: 1px solid;
    text-align: center;
    width: 3em;
    height: 3em;
    margin: 0 1em 0 0;
    line-height: 3em;
}

.Team.Team--full .Team-Member-Info {
    width: 72%;
}

.Team.Team--full .Team-Member .Team-Member-Info-Name {
    margin-bottom: 0.125em;
    font-size: var(--fontSize20);
    font-weight: var(--fontWeightPoppinsBold);
    font-style: italic;
    color: var(--colorSpaceCadet);
    position: relative;
    display: block;
}

.Team.Team--full .Team-Member .Team-Member-Info-Name:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 2px;
    background-color: var(--colorRadicalRed);
}

.Team.Team--full .Team-Member .Team-Member-Info-Email {
    font-size: 0.8em;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}

.Team.Team--full .Team-Member .Team-Member-Info-Position {
    margin-top: 1em;
    color: var(--colorSpaceCadet);
}

.Team.Team--short .Team-Members .Team--empty {
    font-size: var(--fontSize14);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--colorSpaceCadet);
}

.Team.Team--full .Team-Members .Team--empty {

}