.Ideas {
    position: relative;
    background-image: url(/assets/bg-ideas.png);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

@media (min-height: 960px or min-width: 2280px){
    .Ideas  {
        background-image: url(/assets/bg-ideas@3x.png);
    }
}

@media (min-height: 2880px or min-width: 4800px) {
    .Ideas {
        background-image: url(/assets/bg-ideas@3x.png);
    }
}

.Lightning-Left {
    background-image: url(/assets/lightning-left.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 450px;
    height: 285px;
    top: -87px;
}

@media (min-height: 960px or min-width: 2280px){
    .Lightning-Left {
        background-image: url(/assets/lightning-left@2x.png);
    }
}

@media (min-height: 2880px or min-width: 4800px) {
    .Lightning-Left {
        background-image: url(/assets/lightning-left@3x.png);
    }
}

.Lightning-Right {
    background-image: url(/assets/lightning-right.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    width: 450px;
    height: 285px;
    top: -87px;
}

@media (min-height: 960px or min-width: 2280px){
    .Lightning-Right {
        background-image: url(/assets/lightning-right@2x.png);
    }
}

@media (min-height: 2880px or min-width: 4800px) {
    .Lightning-Right {
        background-image: url(/assets/lightning-right@3x.png);
    }
}

.Ideas .Ideas-Container {
    height: 100%;
    position: relative;
    padding: 4em 2em;
    max-width: calc(var(--maxWidth) + 5em);
    margin: 0 auto;
}

.Ideas .Ideas-Title {
    font-size: var(--fontSize56);
    font-weight: var(--fontWeightPoppinsBold);
    font-style: italic;
    line-height: var(--lineHeight);
    text-align: center;
    color: var(--colorSpaceCadet);
}

.Ideas .Ideas-Content {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 6em;
}

@media screen and (max-width: 1328px) {
    .Ideas .Ideas-Content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 6em;
    }
}

@media screen and (max-width: 1044px) {
    .Ideas .Lightning-Right {
        width: 311px;
        height: 245px;
    }

    .Ideas .Lightning-Left {
        width: 311px;
        height: 245px;
    }
}

@media screen and (max-width: 894px) {
    .Ideas .Lightning-Right {
        top: -30px;
    }

    .Ideas .Lightning-Left {
        top: -30px;
    }
}

@media screen and (max-width: 894px) {
    .Ideas .Lightning-Right {
        width: 217px;
        height: 103px;
    }

    .Ideas .Lightning-Left {
        width: 217px;
        height: 103px;
    }
}

.Ideas .is-loading,
.Ideas .is-error {
    display: block;
    width: 100%;
    font-size: var(--fontSize36);
    font-weight: var(--fontWeightPoppinsBold);
    font-style: italic;
    line-height: var(--lineHeight);
    text-align: center;
    color: var(--colorSpaceCadet);
}