.Ideas {

}

.Ideas .Ideas-Container {
    margin: 4em auto;
    height: 100%;
    position: relative;
    padding: 0 2em;
    max-width: 1500px;
}

.Ideas .Ideas-Title {
    font-size: 4em;
    font-style: italic;
    width: 100%;
    text-align: center;
    font-weight: 300;
    margin-bottom: 1em
}

.Ideas .Ideas-Content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
