.Header {
  display: flex;
  z-index: 1;
  right: 0;
  max-width: var(--maxWidth);
  font-weight: var(--fontWeightPoppinsBold);
  font-style: italic;
  justify-content: flex-end;
  font-size: var(--fontSize24);
}

.Header-Navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.Header-Navigation li {
  list-style-type: none;
  padding: 0 1em;
  border-right: 1px solid var(--colorSpaceCadet);
}

.Header-Navigation li:last-child {
  border-right: none;
}

.Header-Navigation a {
  text-decoration: none;
  color: var(--colorSpaceCadet);
}

.Header-Navigation a.active,
.Header-Navigation a.active::after {
  width: 100%;
}

.Header-Navigation a::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  z-index: 1;
  margin-top: 0.5em;
  background: var(--colorRadicalRed);
  transition: width 0.3s;
}

.Header-Navigation a:hover::after {
  width: 100%;
  transition: width 0.3s;
}
