.Header {
  height: 5em;
  display: flex;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.Header-Navigation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.Header-Navigation li {
  list-style-type: none;
  padding-right: 1em;
}

.Header-Navigation a {
  text-decoration: none;
  color: var(--eerie-black-color);
}

.Header-Navigation a.active,
.Header-Navigation a.active::after {
  width: 100%;
}

.Header-Navigation a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 0.5em;
  background: var(--middle-blue-green-color);
  transition: width 0.3s;
}

.Header-Navigation a:hover::after {
  width: 100%;
  transition: width 0.3s;
}
