.Rules {
    margin: 0 auto;
    padding: 0 10% 5% 10%;
    background-color:  var(--colorPapayesWhip);
}

.Rules .Rules-Title {
    font-size: var(--fontSize48);
    font-weight: var(--fontWeightPoppinsBold);
    font-stretch: normal;
    font-style: italic;
    line-height: var(--lineHeight);
    letter-spacing: normal;
    text-align: center;
    color: var(--colorSpaceCadet);
}

.Rules-List {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Rules-List .Rules-Item h2::before {
    content: '\01F31F';
    font-size: 1.25em;
    display: inline;
    font-weight: 100;
    padding-right: 0.5em;
  }