.Rules {
    background-color:  var(--colorPapayesWhip);
    width: 100%;
}

.Rules .Rules-Container {
    padding: 4.5em 1em;
    max-width: var(--maxWidth);
    margin: 0 auto;
}

.Rules .Rules-Title {
    font-size: var(--fontSize56);
    font-weight: var(--fontWeightPoppinsBold);
    font-style: italic;
    line-height: var(--lineHeight);
    text-align: center;
    color: var(--colorSpaceCadet);
}

.Rules-List {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Rules-List .Rules-Item h2::before {
    content: '\01F31F';
    font-size: 1.25em;
    display: inline;
    font-weight: 100;
    padding-right: 0.5em;
  }