.Registration {
    background-color: #5f4b8b;
}

.Registration .Registration-Container {
    padding: 4em 0;
    margin: 0 auto;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: var(--maxWidth);
}

.Registration .Registration-Title {
    font-size: var(--fontSize48);
    font-weight: bold;
    font-style: italic;
    line-height: var(--lineHeight);
    letter-spacing: normal;
    text-align: center;
    color: white;
}

.Registration .Registration-Content {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 4em;
}

.Registration .Button {
    display: inline-block;
    margin-left: -140px;
}

@media screen and (max-width: 894px) {
    .Registration .Button {
        margin: 0 0 1em -89px;
    }
}