.Registration {

}

.Registration .Registration-Container {
    margin: 4em auto;
    height: 100%;
    position: relative;
    padding: 0 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1500px;
}

.Registration .Registration-Title {
    font-size: 4em;
    font-style: italic;
    width: 100%;
    text-align: center;
    font-weight: 300;
    margin-bottom: 1em
}

.Registration .Registration-Content {
    width: 100%;
    display: block;
    text-align: center;
}

.Registration .Button {
    display: inline-block;
    margin: 0 0.8em
}